/* Path: css/style.css */

/* Base and reset styles */
@import url(./base.css);

@import url(./bubbles.css);
@import url(./drops.css);

/* All sections below */
@import url(./sections/hero.css);
@import url(./sections/services.css);
@import url(./sections/gallery.css);

/* Footer */
@import url(./footer.css);




#how-we-work {
    min-height: 400px;
    background-color: rgba(247, 249, 250, 1);
}

.gallery {
    min-height: 400px;
    background-color: #fff;
}

#contact {
    min-height: 400px;
    background-color: rgba(247, 249, 250, 1);
}

@media (min-width: 340px) and (max-width: 768px) {
    .row {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        "element1 element2"
        "element3 element3";
    }
  }